# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
coverage==5.5 # pytest-cov
pyramid==2.0
pytest==6.2.3
pytest-cov==2.11.1
pytest-pyramid==1.0.0
-e .[tests]